@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Freckle+Face|Frijole|Monoton");
header {
  background: url("../images/header-bg.jpg") no-repeat center top fixed;
  padding-bottom: 25px;
  -webkit-background-size: cover;
  background-size: cover; }

.top-nav {
  background: #01579B;
  color: #ffffff;
  padding: 5px 0;
  height: 32px; }
  .top-nav p {
    padding: 0;
    margin: 0;
    font-size: 13px; }
  .top-nav ul.top-menu {
    margin: 0;
    padding: 0; }
    .top-nav ul.top-menu li {
      float: left;
      list-style: none; }
      .top-nav ul.top-menu li a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10px;
        display: block;
        font-size: 13px; }
        @media (max-width: 575.98px) {
          .top-nav ul.top-menu li a {
            padding: 0 5px; } }

.res-point a {
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 10px;
  margin: 10px;
  position: fixed;
  right: 0;
  background: #01579B;
  z-index: 12; }
  .res-point a:hover {
    color: #ffffff; }

.main-nav {
  height: 45px; }
  @media (max-width: 575.98px) {
    .main-nav {
      display: none;
      height: 100vh;
      position: fixed;
      z-index: 11;
      left: 0;
      right: 0;
      top: 0; }
      .main-nav .overly {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        height: 100vh !important;
        background: rgba(0, 0, 0, 0.5); } }
  .main-nav ul {
    margin: 0;
    padding: 0;
    float: right; }
    @media (max-width: 575.98px) {
      .main-nav ul {
        position: absolute;
        z-index: 11;
        left: 0;
        height: 100vh;
        background: #01579B;
        min-width: 50%; } }
    .main-nav ul li {
      float: left;
      list-style: none; }
      @media (max-width: 575.98px) {
        .main-nav ul li {
          float: none;
          border-bottom: 1px solid #004e8c; } }
      .main-nav ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px 15px;
        display: block;
        font-size: 14px; }
        .main-nav ul li a:hover {
          color: #03A9F4; }

.logo {
  padding: 50px 0;
  text-align: center;
  font-family: 'Frijole', cursive; }
  .logo a {
    text-decoration: none;
    color: #ffffff !important; }
    .logo a:hover {
      text-decoration: none; }
    .logo a h1 {
      font-size: 65px; }
  .logo svg {
    max-width: 300px; }
    @media (max-width: 575.98px) {
      .logo svg {
        max-width: 200px; } }
    .logo svg g.svg-logo {
      fill: #fff; }

.search h1 {
  text-align: center;
  font-size: 24px;
  padding: 25px;
  margin: 0px;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  @media (max-width: 575.98px) {
    .search h1 {
      font-size: 20px;
      padding: 10px; } }

.search a {
  background: rgba(0, 0, 0, 0.2) !important;
  display: block;
  padding: 50px;
  margin: 25px 150px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  @media (max-width: 575.98px) {
    .search a {
      padding: 20px;
      margin: 15px 20px; } }
  .search a:hover {
    text-decoration: none;
    background: rgba(1, 88, 155, 0.3) !important;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .search a:hover h1 {
      background: rgba(1, 88, 155, 0.5) !important;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }

.search .lost-search {
  padding: 25px;
  margin: 25px;
  background: rgba(17, 17, 17, 0.2);
  position: relative; }
  .search .lost-search h3 {
    color: #ffffff; }
  .search .lost-search:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(17, 17, 17, 0.2);
    border-width: 50px;
    margin-left: -25px; }
  .search .lost-search .btn-search {
    margin-top: 45px; }

.recent-item {
  height: auto; }
  .recent-item .recent-header {
    display: block;
    min-height: 80px; }
    .recent-item .recent-header ul {
      margin: 0;
      padding: 0px; }
      .recent-item .recent-header ul li {
        list-style: none;
        float: left;
        width: 50%;
        padding: 0px;
        margin: 0px; }
        .recent-item .recent-header ul li a.alt {
          background: #03A9F4; }
        .recent-item .recent-header ul li a {
          text-decoration: none;
          color: #ffffff;
          display: block;
          padding: 25px 0;
          background: #01579B;
          text-align: center;
          text-transform: uppercase;
          font-size: 20px; }
  .recent-item .i-card {
    width: 100%;
    background: #03A9F4;
    position: relative;
    color: #ffffff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .recent-item .i-card .i-card-img {
      height: 200px;
      width: 100%;
      overflow: hidden; }
      .recent-item .i-card .i-card-img img {
        height: 200px; }
    .recent-item .i-card .hh {
      display: none;
      font-size: 12px;
      font-weight: bold;
      color: #cccccc; }
    .recent-item .i-card .i-card-body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .recent-item .i-card .i-card-body a.i-text {
        padding: 10px;
        text-decoration: none;
        display: block;
        color: #ffffff; }
        .recent-item .i-card .i-card-body a.i-text:hover {
          text-decoration: none;
          color: #ffffff; }
      .recent-item .i-card .i-card-body p {
        display: inline;
        font-size: 13px; }
    .recent-item .i-card .lost-bg {
      background: rgba(3, 168, 244, 0.3) !important; }
      .recent-item .i-card .lost-bg:hover {
        background: rgba(3, 168, 244, 0.7) !important; }
    .recent-item .i-card .found-bg {
      background: rgba(1, 88, 155, 0.3) !important; }
      .recent-item .i-card .found-bg:hover {
        background: rgba(1, 88, 155, 0.7) !important; }
    .recent-item .i-card:hover .hh {
      display: block; }
    .recent-item .i-card:hover .i-card-body {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  .recent-item .recent-i {
    width: 50%;
    float: left;
    margin: 25px 0; }
  .recent-item .lost-i {
    border-right: 1px solid #03A9F4;
    padding: 0 15px; }
  .recent-item .found-i {
    padding: 0 15px; }

.reward {
  padding: 25px 0;
  display: block; }
  .reward h3 {
    color: #01579B;
    text-align: center;
    margin: 0 0 25px 0;
    text-transform: uppercase; }

.q-contact {
  margin-top: 25px;
  background: #01579B;
  padding: 35px 0;
  color: #ffffff; }

#footer {
  background: #333333;
  padding: 50px 0;
  color: #ffffff; }
  #footer a {
    color: #ffffff; }

.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    -webkit-transition: none;
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

/* Carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */ }

#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px; }

#quote-carousel .carousel-control.left {
  left: -60px; }

#quote-carousel .carousel-control.right {
  right: -60px; }

#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 128px;
  height: 128px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-color: #f33;
  opacity: 1;
  overflow: hidden; }

.carousel-inner {
  min-height: 300px; }

.item blockquote {
  border-left: none;
  margin: 0; }

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px; }
